body {
  background-color: #f4f4f4;
  color: darkblue;
  font-family: "Stint Ultra Condensed", cursive;
  font-size: 30px;
  line-height: 1.7em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  font-size: 35px;
}

#main-header {
  background-color: darkblue;
  color: goldenrod;
  font-size: 35px;
}

#navbar {
  background-color: goldenrod;
  color: #fff;
}

#navbar ul {
  padding: 1px;
  list-style: none;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: darkblue;
  text-decoration: none;
  font-size: 35px;
  padding-right: 15px;
}

#showcase {
  background-image: url("../images/sky.jpeg");
  background-position: center right;
  min-height: 1px;
  margin-bottom: 20px;
  text-align: center;
}

#showcase h1 {
  color: darkblue;
  font-size: 40px;
  line-height: 1.6em;
  padding-top: 30px;
}

#main {
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  background: goldenrod;
  color: darkblue;
  padding: 10px;
  box-sizing: border-box;
}

#main-footer {
  background: darkblue;
  color: goldenrod;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }
  #sidebar {
    display: flex;
    width: 100%;
    float: none;
  }
}

title {
  font-family: "Stint Ultra Condensed", cursive;
}

h1 {
  font-size: 50px;
}
